<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body{
            background-image:url('/static/images/background-contacts.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <h1>Companies Contact Details</h1>
    <hr class="border border-primary border-3 opacity-75">
    <nav class="navbar navbar-expand-lg bg-body-tertiary wback">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-weight: bolder;">Waste Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" style="padding-right: 5px;">
                        <a class="btn btn-outline-primary " href="/data_stats" style="font-weight: bolder;">Waste Statistics</a>
                    </li>
                    <li class="nav-item" style="padding-right: 5px;">
                        <a class="btn btn-outline-primary " href="/predict" style="font-weight: bolder;">Predict</a>
                    </li>
                    <li class="nav-item" style="padding-right: 5px;">
                        <a class="btn btn-outline-primary active" href="/contact" style="font-weight: bolder;">Contacts</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if show_link %}
                <li class="nav-item" style="padding-right: 5px;">
                    <a class="btn btn-primary" href="/update-csv">Add Data</a>
                </li> <!-- Replace with the actual link and URL -->
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item" style="padding-right: 5px;">
                    <a class="btn btn-primary" href="/data">View Data</a>
                </li>
                <li class="nav-item" style="padding-right: 5px;">
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item" style="padding-right: 5px;">
                    <a class="btn btn-primary" href="{% url 'signup' %}">Signup</a>
                </li>
                <li class="nav-item" style="padding-right: 5px;">
                    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <hr class="border border-primary border-3 opacity-75">
    <div class="card-columns" style="text-align: center;">  
        <div class="card" style="width: 18rem; padding-left: 10px;  ">
            <img src='/static/images/C1.png' class="card-img-top" alt="..." width="100px" height="200px">
            <div class="card-body">
              <h5 class="card-title">ClearIN</h5>
              <p class="card-text">We are Promoters of Sustainable and Eco-Friendly Practices Committed to The Environment</p>
              <a href="https://clearin.in/" target="_blank" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; padding-left: 10px;">
            <img src='/static/images/C2.png' class="card-img-top" alt="..." width="100px" height="150px">
            <div class="card-body">
              <h5 class="card-title">Attero</h5>
              <p class="card-text">Our range of services enable organizations to reduce the impact of their e-waste, maximize their role in saving environment, by ensuring sustainable use of resources.</p>
              <a href="https://attero.in/" target="_blank" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; padding-left: 10px;">
            <img src='/static/images/c3.png' class="card-img-top" alt="..." width="100px" height="150px">
            <div class="card-body">
              <h5 class="card-title">EcoWise</h5>
              <p class="card-text">We are comprehensive recycling, industry-specific waste management company, focused on sustainability solutions for businesses and corporations.</p>
              <a href="https://www.ecowise.net.in/" target="_blank" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; padding-left: 10px;">
            <img src='/static/images/c4.png' class="card-img-top" alt="..." width="100px" height="150px">
            <div class="card-body">
              <h5 class="card-title">Sahas Zero Waste</h5>
              <p class="card-text">We provide end-to-end waste management services based on the principles of circular economy. We handle waste sustainably & responsibly for MNCs, tech parks, residential communities and other bulk generating organizations and institutions.</p>
              <a href="https://saahaszerowaste.com/" target="_blank" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; padding-left: 10px;">
            <img src='/static/images/c5.png' class="card-img-top" alt="..." width="100px" height="150px">
            <div class="card-body">
              <h5 class="card-title">Hasiru Dala</h5>
              <p class="card-text">YOU MADE THE
                COMPLEX TASK OF WASTE MANAGEMENT SO SIMPLE!</p>
              <a href="https://hasirudalainnovations.com/" target="_blank" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; padding-left: 10px;">
            <img src='/static/images/c6.png' class="card-img-top" alt="..." width="100px" height="150px">
            <div class="card-body">
              <h5 class="card-title">Let's Recycle</h5>
              <p class="card-text">Let's Recycle  an initiative of NEPRA Resource Management Pvt. Ltd.
                is a social enterprise that operates in the segment of Dry Waste Management & Recycling.</p>
              <a href="https://www.letsrecycle.in/" target="_blank" class="btn btn-primary">Click here</a>
            </div>
        </div>
    </div>
</body>

</html>